section {
  background-image: url('../assets/images/dawn.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* posición del kitten */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

img {
  width: 100%;
  height: auto;
}

.medium, .small {
  display: none;
}

.large {
  display: block;
}

@media (min-width: 768px) {
  section {
    background-image: url('../assets/images/night.jpg');
  }

  .large {
    display: none;
  }

  .small {
    display: block;
  }
}

@media (min-width: 992px) {
  section {
    background-image: url('../assets/images/sunny-day.jpg');
  }

  .small, .large {
    display: none;
  }

  .medium {
    display: block;
  }
}
