.background {
  background-size: cover;
  background-position: center;
  text-align: center;
}

.medium, .small, .large {
  display: none;
  margin-top: 30%;
}

img {
  width: 80%;
}

@media (max-width: 767px) {
  .background {
    background-image: url('../assets/images/dawn.png');
  }

  .large {
    display: block;
  }
}

@media (min-width: 768px) {
  .background {
    background-image: url('../assets/images/night.jpg');
  }

  .small {
    display: block;
  }
}

@media (min-width: 992px) {
  .background {
    background-image: url('../assets/images/sunny-day.jpg');
  }

  .small {
    display: none;
  }

  .medium {
    display: block;
    margin-top: 20%;
    margin-bottom: 5%;
  }
}
